{{#if edges}}
    <div class="rangeComponent end left" {{action 'min'}}>
    </div>
{{/if}}
<div class="rangeComponent center">
    <div class="line"></div>
    <div class="rangeComponent arrow"></div>
</div>
{{#if edges}}
    <div class="rangeComponent end right" {{action 'max'}}>
    </div>
{{/if}}
