<div id="site">
    {{header-site}}

    <div id="page404">
        <div class='errorName'>Error :  <b>404</b> page not found</div>
        <div class='errorName2'>Looks like no one is here!</div>

        <div class='info'>
            The page you are trying to access seems to no longer exist. <a href="/" class='link'>Click here</a> to return to the home page.
        </div>

        {{outlet}}
    </div>
</div>
